- cache message do  # easy way to implement caching
  .message
    .content= message.to_html

    -# not localized time display to not break caching
    .additional-info
      = message.created_at.strftime("%H:%M  (UTC)  %d. %b %Y")
      = " -- #{message.user&.name}" if message.user&.name
