- cache room do  # easy way to implement caching
  .room
    .content
      = link_to room.name, room_path(room), data: { no_turbolink: true }

    -# not localized time display to not break caching
    .additional-info
      = room.created_at.strftime("%H:%M  (UTC)  %d. %b %Y")
