-# javascripts/channels/room.coffee contains the code that handles the form input

- @page_name = "All public chat rooms"

%section
  #rooms
    = render "rooms/rooms", rooms: @rooms

%section.yace.input
  .input-form
    %form
      .field
        .label Or create a new public room:
        %input.js-rooms-new-room{ type: "text" }
