-# javascripts/channels/room.coffee contains the code that handles the form input

- @page_name = @room.name if @room.present?

%section
  #messages
    = render "messages/messages", messages: @messages

%footer
  .input-form
    %form
      .field
        .label Say something nice:
        %input.js-room-new-message{ type: "text" }
