%header
  %h1 Chat room

%section
  #messages
    = render "messages/messages", messages: @messages

-# javascripts/channels/room.coffee contains the code that handles this input
-#
%footer
  .input-form
    %form
      .field
        .label Say something nice:
        %input(type="text" data-behavior="room_speaker")
