%h1 Chat room

#messages
  = render @messages

%hr

-# javascripts/channels/room.coffee contains the code that handles this input
-#
.input-form
  %form
    .field
      .label Say something:
      %input(type="text" data-behavior="room_speaker")
