-# javascripts/channels/room.coffee contains the code that handles the form input

- @page_name = @room.name if @room.present?

%section
  #messages
    = render "messages/messages", messages: @messages

%section.yace.input
  .input-form
    %form
      .field
        .label Say something nice:
        %textarea.js-room-new-message{ rows: 2 }
